{{> header }}
{{>nav}}

<h1 class="title">{{title}}</h1>
<div class="error-wrapper">
  {{#if messages.error}}
    <p class="error-message">{{messages.error}}</p>
  {{/if}}
</div>
<div class="page-wrapper">
  <div class="wrapper">
    <div class="wrapper-inner">
      <form action="/login" method="POST" class="form">
        <div class="input-wrapper">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  <div class="wrapper">
      <div class="wrapper-inner">
        <div class="login-wrapper-inside">
          <p>Don't have and account?</p>
         <button onclick="location.href='/register'" >Register here</button>
        </div>
      </div>
  </div>
</div>


{{>footer}}


