/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    color: #333333;
    font-family: arial;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin: 40px 0px 40px 0px;
}

nav {
    margin: 30px 0px 30px 0px;
}

button {
    cursor: pointer;
    background: black;
    color: white;
    padding: 18px ;
    width: 100%;
    border: none;
    margin-top: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 70px 0px 0px 50px;
}